.chatContainer {

  & .chatSessionItem {
    & .query {
      display: flex;
      align-items: center;
      color: #060606;
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }

    & .answerContainer {
      & .answerHeaderWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        & .answerHeader {
          color: #717274;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        & .divider {
          content: "";
          width: 6.25rem;
          height: 0.0625rem;
          background: linear-gradient(90deg, #fafafa, #dbdbdb 49.67%, #fafafa);
        }
      }

      & .loadingPlaceholder {
        display: flex;
        color: #717274;
        font-size: 0.875rem;
        font-style: italic;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      & .answer {
        display: flex;
        color: #060606;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }
    }
  }
}