.supportChatbotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
  background-color: #fafafa;
  color: #060606;

  > * {
    transition: transform 0.6s ease;
  }

  &.inputAtBottom > * {
    transform: translateY(calc(50vh - 10rem));
  }
}