.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #fafafa;
  color: #060606;
}

.header {
  flex-shrink: 0;
  padding: 1rem;
  color: #060606;
  font-size: 1rem;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.evaluationContainer {
  flex-shrink: 0;
  padding: 1rem;
  color: #060606;
  font-size: 1rem;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  position: relative;

  left: 0;
  transition: color 0.2s ease, left 0.2s ease;

  &:hover {
    cursor: pointer;
    color: #E51058;
    left: 0.25rem;
    transition: color 0.2s ease, left 0.2s ease;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
}
